<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block texto_pestania %}
        titulo a completar en otros template
        {% endblock texto_pestania %}
    </title>
    {% comment %} {% block link_estilos %}
    <link rel="stylesheet" href="style.css">
    {% endblock link_estilos %} {% endcomment %}
</head>
<body>
    <nav>
        <a href="{% url "producto:inicio" %}">Inicio</a>
        <a href="{% url 'producto:crear_producto' %}">Crear Producto</a>
        <a href="{% url 'producto:listar_productos' %}">Productos</a>
    </nav>
    
    {% block contenido %}
    texto a completar en otros template
    {% endblock contenido %}


</body>
</html>
